# Server Configuration
PORT=5000

# Database
MONGO_URI=mongodb://localhost:27017/your-db-name   # Put MongoDB Atlas Link Here

# Auth Secrets
JWT_SECRET=your_jwt_secret_here

# Frontend URL (For CORS)
FRONTEND_URL=http://localhost:3000   # Live Frontend URL

# Third Party Keys
NEXT_PUBLIC_W3FORMS_KEY=your_w3forms_key_here