# Server Configuration
PORT=5000

# Database
MONGO_URI=mongodb://localhost:27017/your-db-name   # Put MongoDB Atlas Link Here

# Auth Secrets
JWT_SECRET=your_jwt_secret_here

# Frontend URL (For CORS)
FRONTEND_URL=http://localhost:3000   # Live Frontend URL

SESSION_SECRET=anything_secret_key

GOOGLE_CLIENT_ID=google-client-id-here.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=google-client-secret-here

GITHUB_CLIENT_ID=github-client-id-here
GITHUB_CLIENT_SECRET=github-client-secret-here

LINKEDIN_CLIENT_ID=linkedin-client-id-here
LINKEDIN_CLIENT_SECRET=linkedin-client-secret-here

TWITTER_CLIENT_ID=twitter-client-id-here
TWITTER_CLIENT_SECRET=twitter-client-secret-here